.pokemon-list-item {
  cursor: pointer;
  position: relative;
  border-radius: 0.9375rem;

  & .box {
    --bg-color: rgba(0, 0, 0, 0);

    min-height: 9.375rem;
    background-color: var(--bg-color);
  }

  & .media {
    width: 100%;
  }

  & .box::after {
    content: '';
    background: url('../../assets/pokeball.svg') no-repeat 100% -500%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    border-radius: 0.625rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  & span.tag {
    --bg-color: rgba(0, 0, 0, 0);

    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    border: 0.0063rem solid floralwhite;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    background-color: var(--bg-color);
  }

  & .title-container {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  & .pokemon-info {
    gap: 0.625rem;
    color: white;
    font-weight: 600;
  }
}
